@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

/* TODO: Make a theme switcher */
/* !"Regular" Theme */
/* :root {
  --color-bg: #282828;
  --color-fg: #EADBB2;
  --color-link: #8F9191;
  --color-link-visited: #8F9191;
  --color-link-hover: #FA7921;
} */

/* !"Catppuccin Mocha" Theme */
:root {
  --color-bg: #1e1e2e;
  --color-fg: #cba6f7;
  --color-link: #eba0ac;
  --color-link-visited: #eba0ac;
  --color-link-hover: #cba6f7;
}

html,
body {
  background: var(--color-bg);
  color: var(--color-fg);
  font-family: "JetBrains Mono", monospace;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 460px 600px 1fr;
  grid-template-areas:
    ". left right .";
  column-gap: 80px;
  justify-items: center;
  align-items: center;
  min-height: 100vh;
}

.left-container {
  grid-area: left;
  aspect-ratio: 1/1;
}

.right-container {
  grid-area: right;
  width: 100%;
}

.gif img {
  max-width: 100%;
  max-height: 100%;
}

.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;

}

.category {
  display: flex;
  flex-direction: column;
  width: 180px;
}

.bookmarks {
  display: flex;
  justify-content: center;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.title {
  font-size: 20px;
}

li {
  font-size: 16px;
  list-style-type: none;
  padding: 5px
}

a:link {
  text-decoration: none;
  color: var(--color-link);
}

a:visited {
  color: var(--color-link-visited);
}

a:hover {
  color: var(--color-link-hover);
}

.blinking {
  animation: opacity 1s ease-in-out infinite;
  opacity: 1;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.open-settings-btn {
  position: absolute;
  bottom: 20px;
  left: 20px;
  opacity: 0.7;
  background-color: transparent;
  border: none;
  color: #a1a1a1;
  font-size: 16px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.open-bookmarks-btn {
  position: absolute;
  bottom: 20px;
  left: 50px;
  opacity: 0.7;
  background-color: transparent;
  border: none;
  color: #a1a1a1;
  font-size: 16px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}


.open-settings-btn:hover,
.open-bookmarks-btn:hover {
  opacity: 1;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  backdrop-filter: blur(5px);
}

.modal-content {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 20px;
  border-radius: 8px;
  position: relative;
  max-width: 400px;
  width: 80%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  color: #999;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.save-btn,
.cancel-btn,
.export-btn,
.import-btn {
  padding: 8px 16px;
  margin-left: 10px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  color: #fff;
}

.save-btn {
  background-color: #4caf50;
}

.cancel-btn {
  background-color: #f44336;
}

.export-btn {
  font-size: 12px;
  background-color: #2196f3;
}

.import-btn {
  font-size: 12px;
  background-color: #2196f3;
}

.import-btn>label {
  cursor: pointer;
}

.modal-settings {
  display: flex;
  flex-direction: column;

}

.modal-settings>div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.modal-settings>div>label {
  margin-right: 10px;
}

.modal-settings>div>input {
  margin-right: 10px;
}

.import-btn>input {
  display: none;
}

@media (max-width: 768px) {
  .modal-content {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .modal-content {
    padding: 10px;
  }
}

@media (max-width: 320px) {
  .modal-content {
    padding: 5px;
  }
}

.btn-style {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 0.8rem;
  transition: color 0.3s ease-in-out;
}

.modal-bookmarks {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  backdrop-filter: blur(5px);
}

.modal-content-bookmarks {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 20px;
  border-radius: 8px;
  position: relative;
  max-width: 850px;
  max-height: 900px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.bookmark-dot {
  display: flex;
  flex-flow: column;
  text-align: left;
  align-items: start;
  width: 100%;
}

.links-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;

}

.category-modal {
  display: flex;
  flex-direction: column;
  width: 180px;
  border: 1px solid #a1a1a157;
  border-radius: 4px;
  min-height: 100px;
}